@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom CSS */
.font-header {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
}

.--collapse {
  transition: all 500ms;
}

.content {
  max-height: 0;
  transition: max-height 0.2s ease-out;
}